@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    box-sizing: border-box;
}
.app {
    background: #191D28;
    color:#ffff;
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    margin-top:-15px;
}


@media screen and (max-width:1000px) {
    .app {
        width:100%;
      }
  }